/* JEM'S COLORS & UNICODES */

#junos {
  --unicode:'\a85';
  --main: 187, 133, 136;
  --alt: 187, 133, 136;
}

#piper {
  --unicode:'\a100';
  --main: 134, 195, 207;
  --alt: 134, 195, 207;
}

