/* JEM'S COLORS & UNICODES */

#rook {
  --unicode:'\ef01';
  --main: 83, 163, 128;
  --alt: 48, 138, 99;
}


#rafe {
  --unicode:'\ef03';
  --main: 71, 98, 168;
  --alt: 37, 67, 143;
}
