/* JEM'S COLORS & UNICODES MADE BY HEIKO */
#aurelie {
  --g1:223, 186, 100;
  --g2:224, 165, 45;
}


#guille {
  --g1:105, 132, 155;
  --g2:59, 79, 120;
}

#izzy {
  --g1:73, 38, 112;
  --g2:47, 38, 112;
}

#leo {
  --g1: 136, 167, 149; 
  --g2: 81, 122, 98; 
}


#sarika2 {
  --g1:184, 68, 101;
  --g2:140, 36, 68;
}


#vanille {
  --g1:224, 126, 112;
  --g2:150, 56, 53;
}

#yvonne {
  --g1:150, 96, 148;
  --g2:100, 55, 125;
}
