/* JEM'S COLORS & UNICODES */

#amber {
  --unicode:'\a131';
  --main: 215, 146, 151;
  --alt: 215, 146, 151;
}

#mars {
  --unicode:'\a129';
  --main: 146, 202, 167;
  --alt: 146, 202, 167;
}

#odin {
  --unicode:'\e90d';
  --main:217, 167, 126;
  --alt:217, 167, 126;
}

#piper {
  --unicode:'\a100';
  --main: 134, 195, 207;
  --alt: 134, 195, 207;
}

