/* JEM'S COLORS & UNICODES */

#amber {
  --unicode:'\a131';
  --main: 215, 146, 151;
  --alt:199, 91, 99; 
}

#cain {
  --unicode:'\a92';
  --main:150, 199, 193;
  --alt:87, 171, 161;
}

#mars {
  --unicode:'\a129';
  --main: 146, 202, 167;
  --alt:89, 171, 120; 
}

#odin {
  --unicode:'\e90d';
  --main:217, 167, 126;
  --alt:199, 146, 103;
}

#yvonne {
  --unicode:'\a93';
  --main:150, 96, 148;
  --alt:133, 57, 130;
}

#lydia {
  --unicode:'\a10';
  --main:195, 179, 219;
  --alt:162, 141, 194;
}
