/* JEM'S COLORS & UNICODES */

#amber {
  --unicode:'\a131';
  --main: 215, 146, 151;
}

#mars {
  --unicode:'\a129';
  --main: 146, 202, 167;
}

#odin {
  --unicode:'\e90d';
  --main:217, 167, 126;
}

#sarika {
  --unicode:'\a42';
  --main:184, 68, 101;
}

#isolde {
  --unicode:'\e902';
  --main:73, 38, 112;
}
