<style>/* CREATED BY PANDORA FOR JEM ONpb — DO NOT STEAL! */

.plumberry {
  position:relative;
  margin:25px auto;
  width:450px;
  background:#f9f9f9;
  border:1px solid #dbdbdb;
  overflow:hidden;
  background:#f3f3f3;
  font-famipb: nunito; 
  font-weight:400;
  color:#797979;
  font-size:15px;
  line-height:24px;
  z-index:1;
  text-shadow: -1px 0 #f3f3f3, 0 1px #f3f3f3, 1px 0 #f3f3f3, 0 -1px #f3f3f3;
  box-shadow:3px 3px 5px #e1e1e1;
}

.plumberry a {
  color:rgba(var(--clr));
  border-bottom:1px solid rgba(var(--clr), 0.5);
}

.plumberry-top {
  position:relative;
  background:linear-gradient(to bottom right, rgba(var(--clr), 0.15), 75%, rgba(var(--clr), 0.3));
  height:125px;
  overflow:hidden;
}

.plumberry-top:before {
  content:'';
  position:absolute;
  left:25px;
  bottom:-75px;
  display:block;
  background:radial-gradient(ellipse at top right, rgba(var(--clr), 0.75), rgba(var(--clr), 0.25), rgba(var(--clr), 0.5));
  width:150px;
  height:150px;
  border-radius:100%;
}

.plumberry-top:after {
  content:'';
  position:absolute;
  left:-10px;
  top:10px;
  display:block;
  background:radial-gradient(ellipse at top left, #f3f3f3, rgba(var(--clr), 0.35), rgba(var(--clr), 0.65));
  width:100px;
  height:100px;
  border-radius:100%;
}

.pb-tag {
  position:relative;
  z-index:1;
  padding-left:0px;
  left:130px;
  height:100%;
  display:inline-flex;
  align-items:center;
  align-content:center;
  flex-wrap:wrap;
  width:300px;
  padding-right:25px;
  line-height:17px;
  gap:0px 5px;
}

.pb-tag span {
  content:var(--unicode);
  font-famipb:starry;
  position:absolute;
  left:-80px;
  line-height:75px;
  font-size:75px;
  color:rgba(var(--clr), 0.9);
  -webkit-font-smoothing: antialiased;
  font-style:normal!important;
}

.pb-tag date {
  position:relative;
  z-index:-1;
  display:block;
  width:100%;
  font-famipb:nunito;
  font-weight:400;
  text-transform:uppercase;
  font-style:normal!important;
  font-size:13.5;
  left:-10px;
  color:#9f9f9f;
}

.pb-tag date b {
  background:#f3f3f3;
  padding:3px 6px;
  font-weight:400;
  margin-right:4px;
  border-radius:5px;
  opacity:0.85;
}

.pb-tag date u {
  font-weight:900;
  text-decoration:none!important;
  margin-right:3px;
  color:rgba(var(--clr), 0.75);
}

.pb-tag a.user-tagged {
  z-index:2;
  font-weight:900;
  text-transform:uppercase;
  font-style:italic;
  font-size:16px;
  color:rgba(var(--clr));
  border-bottom:0px!important;
}

.pb-tag a.user-tagged:before {
  content:'&';
  font-style:normal!important;
  font-weight:700;
  margin-right:2px;
  color:#f3f3f3;
  text-shadow: -1px 0 rgba(var(--clr)), 0 1px rgba(var(--clr)), 1px 0 rgba(var(--clr)), 0 -1px rgba(var(--clr));
}

.pb-body {
  overflow:hidden;
  padding:50px;
  background:linear-gradient(to bottom, #f3f3f3 80%, rgba(var(--clr), 0.15));
}

@media (max-width: 1000px) {
 .pb-body { background:#f3f3f3!important; }
}

.pb-body b {
  color:rgba(var(--clr));
  font-weight:900;
}

.pb-body i {
  opacity:0.65;
}

.pb-body u {
  text-decoration:none!important;
  border-bottom:2px solid rgba(var(--clr), 0.5);
  font-weight:700;
}

.pb-body span.dice-roll {
  margin-top:35px;
  display:block;
  font-size:13.5px;
}

.pb-body span.dice-roll b {
  font-weight:700;
  background:rgba(var(--clr), 0.15);
  padding:4px 6px;
  border-radius:5px;
  margin-right:1px;
}

.pb-body note {
  display:block;
  color:rgba(var(--clr));
  font-weight:700;
  font-size:13.5px;
  position:relative;
  top:25px;
  text-align:right;
}